body {
  background-color: #efefef;
}

a {
  text-decoration: none;
}

.tabItem {
  padding: 17px;
}
.tabs {
  height: 50px;
  border: 1px solid gray;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.tabItem.active {
  color: black;
  font-weight: bold;
}

.tabContentItem {
  display: none;
  height: 200px;
  overflow: auto;
  border: 1px solid gray;
}

.tabContentItem.active {
  display: block;
}
